<div class="top">
  <mat-toolbar>
    <div class="logo">
      <a href="#"><img src="../assets/img/logo.jpg" alt="logo" /></a>
    </div>
    <div class="icon">
      <mat-icon>tonality</mat-icon>
      <mat-icon class="active">home_repair_service</mat-icon>
      <mat-icon>group</mat-icon>
    </div>
  </mat-toolbar>
</div>
<mat-divider></mat-divider>
<div class="bottom">
  <mat-toolbar>
    <mat-icon>edit_calendar</mat-icon>
    <mat-icon>bento</mat-icon>
    <mat-icon>timeline</mat-icon>
    <mat-icon>settings_input_component</mat-icon>
  </mat-toolbar>
</div>
