<mat-card>
  <div class="jobs" style="box-shadow: 0 1px 0 0 #eeeeee; padding-bottom: 1.15em;">
    <mat-icon>chevron_left</mat-icon>
    <mat-card-title>Jobs</mat-card-title>
  </div>
  <div class="inputBox">
    <input matInput type="text" placeholder="Search">
    <mat-icon>search</mat-icon>
  </div>
  <div class="drop wraper">
    <div>
      <mat-icon>bolt</mat-icon>
      <mat-card-title>Open</mat-card-title>
    </div>
    <mat-form-field class="mat-form-field">
      <mat-label>280 Jobs</mat-label>
      <mat-select>
        <mat-option value="20 Jobs">20 Jobs</mat-option>
        <mat-option value="120 Jobs">120 Jobs</mat-option>
        <mat-option value="100 Jobs">100 Jobs</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem" class="heiCol">Marketing</mat-list-item>
    <mat-list-item role="listitem" class="heiCol">Software Development</mat-list-item>
    <mat-list-item role="listitem" class="heiCol">Interactive Design</mat-list-item>
    <mat-list-item role="listitem" class="heiCol">Quality Control</mat-list-item>
    <mat-list-item role="listitem" class="heiCol">Engineering</mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div class="closed">
    <mat-icon>do_disturb_on</mat-icon>
    <mat-card-title>Closed</mat-card-title>
    <mat-form-field>
      <mat-label>60 Jobs</mat-label>
      <mat-select class="changeDrop">
        <mat-option value="20 Jobs">20 Jobs</mat-option>
        <mat-option value="120 Jobs">120 Jobs</mat-option>
        <mat-option value="100 Jobs">100 Jobs</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="draft">
    <mat-icon>drafts</mat-icon>
    <mat-card-title>Drafts</mat-card-title>
    <mat-form-field>
      <mat-label>60 Jobs</mat-label>
      <mat-select class="changeDrop">
        <mat-option value="20 Jobs">20 Jobs</mat-option>
        <mat-option value="120 Jobs">120 Jobs</mat-option>
        <mat-option value="100 Jobs">100 Jobs</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>