mat-sidenav-container{height: 100%;}

mat-sidenav, mat-sidenav-content {padding: 10px;}

mat-sidenav{background: #fff;}

.mat-drawer-side {border-right: 0;}

.same{
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.widthten{width: 20%;}
.widthtwenty{width: 80%;}
